@import 'styles/variables';

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.dialog {
  z-index: 501;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 600px;
  background-color: $background-primary;
  overflow: auto;

  .dialog-bdy-container{
    position: relative;
  }
}

.side-panel-header {
  display: flex;
  align-items: center;
  background: $color-shade-2;
  color: $font-color-accent-bright;
  height: 60px;
  padding: 0 20px;
  font-size: 20px;
  i{
    cursor: pointer;
    font-size: 25px;
  }
  .side-panel-hdr-ttl{
    flex: 1;
    padding: 0 10px;
  }
}