@import 'styles/variables';

.relation-options-list {
  list-style: none;
  padding: 0;
  overflow: auto;

  li {
    text-align: center;
    font-size: 28px;
    color: $font-color-accent-dark;
    border: 1px solid $color-white-plain;
    border-radius: 4px;
    border-left: 20px solid $border-shade;
    background: $color-white-plain;
    margin: 10px 0;
    padding: 20px;
    
    transition: all 0.25s ease-out;
    cursor: pointer;

    &.selected {
      font-weight: 500;
      border: 1px solid $color-shade-1;
      border-left: 20px solid $color-shade-1;
      background: $color-shade-1-light;
    }
  }
}