@import 'styles/variables';

.search-field{
  position: relative;
  padding: 5px 0;

  i{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 20px;
    opacity: 0.5;
  }
  
  .search-box-input {
    color: $font-color-accent-dark;
    background: none;
    font-size: 16px;
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid $font-color-secondary;
    width: 100%;
    padding: 10px 25px;
    &:focus {
      outline: none;
      border-bottom: 1px solid $font-color-secondary;
    }
  }
  &.bordered{
    border: 1.2px solid $font-color-secondary;
    padding: 10px 20px;
    border-radius: 8px;
    .search-box-input {
      border: none;
      font-size: 18px;
    }
  }
}

