
@import 'styles/main.scss';

#oboarding-container {
  padding-top: 45px;
  padding-bottom: 80px;
}

.content {
  max-width: 700px;
  min-width: 680px;
  margin: auto;
}


.top-sec-panel {
  display: flex;
  color: $font-color-primary;
  font-size: 1.3em;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 5px;
  .title {
    flex: 1;
  }

  action {
    flex: 1;
    align-self: flex-end;
  }

  a{
    color: #33475b;
  }
}

.panel-content {
  min-height: 400px;
}
