@import 'styles/main.scss';

.crd-category {
  display: flex;
  min-height: 120px;
  margin: 35px 30px;

  &.accent {
    .crd-category-lft {
      background: $color-shade-1;
    }

    .crd-category-action-label {
      background: $color-shade-1-light;
    }
  }

  &.secondary {
    .crd-category-lft {
      background: $color-shade-3;
    }

    .crd-category-action-label {
      background: $color-shade-3-light;
    }
  }
}

.crd-category-lft {
  flex: 185px 0;
  display: flex;
  align-items: center;
  justify-items: center;
  color: $font-color-accent-bright;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px;

  .crd-category-lft-content {
    width: 100%;
    text-align: center;
  }
}

.crd-category-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fafafa;
}

.crd-category-count-label {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.crd-category-count {
  font-size: 42px;
  font-weight: bold;
}

.crd-category-description {
  font-size: 20px;
  flex: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  opacity: 0.6;
}

.crd-category-action-label {
  font-size: 24px;
  font-weight: 500;
  color: $font-color-accent-dark;
  flex: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  .fa-angle-right{
    font-size: 24px;
    margin-left: 10px;
    font-weight: 500;
  }
}
