@import 'styles/variables';


.relation-page{
  .button-wrpr{
    width: 100%;
    text-align: center;
    background: $color-white-plain;
    padding: 20px 0;
  }
}

.cnt-crd-details {
  background: $background-secondary;
  padding: 30px 20px 20px 40px;
  .crd-header {
    font-size: 2em;
    font-weight: 500;
    color: $font-color-primary;
    margin-bottom: 15px;
  }
  
  .usr-dtl-name {
  }
  
  .crd-contain-main {
    display: flex;
    text-align: center;
  }
}


.relation-list-hdr {
  font-weight: 500;
  font-size: 20px;
  color: $font-color-secondary;
}


