@import 'styles/variables';

#phonebook-container{
  padding-top: 45px;
  padding-bottom: 80px;
  background: $color-white-plain;
  header{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 18px;
  }
  .content{
    margin: auto;
    max-width: 1000px;
    min-width: 800px;
  }
  .action{
    font-size: 25px;
  }
}