.container_background {
  height: calc(100% - 150px);
  width: 100%;
  position: fixed;
  z-index: 501;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner_container {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.char_4 {
  flex: auto;
  height: 96px;
  width: 50px;
  color: #0049C8;
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
}

.page-not-found {
  color: #0049C8;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
}

.oval_main {
  flex: none;
  height: 64px;
  width: 64px;
  background-color: #FECE00;
  border-radius: 100%;
}

.oval-1 {
  height: 11px;
  width: 8px;
  margin-right: 19px;
  display: inline-block;
  opacity: 0.6;
  border-radius: 100%;
  background-color: #000000;
}

.oval-2 {
  height: 11px;
  width: 8px;
  display: inline-block;
  opacity: 0.6;
  border-radius: 100%;
  background-color: #000000;
}

.oval_inner {
  margin-top: 22px;
  text-align: center;
}

.container_404 {
  display: flex;
  align-items: center;
}