@import 'styles/variables.scss';

.panel {
  box-shadow:  4px 14px 7px #e4eaef;

  >header {
    background-color: $color-shade-2;
    color: $font-color-accent-bright;
    height: 60px;
    font-size: 1.3em;
    padding: 0 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: center;
  }

  >section {
    background: $color-white-plain;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    min-height: 400px;
    align-items: center;
    justify-content: space-evenly;
  }
}
