@import 'styles/variables';

.contact-row {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: $font-color-accent-dark;
  border: 1px solid $color-white-plain;
  padding: 20px;
  
  transition: all 0.25s ease-out;
  cursor: pointer;

  .left{
    flex:1;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .middle{
    flex:1;
    opacity: 0.6;
  }
  .right{
    flex:1;
    opacity: 0.6;
  }

  &.card-bk-color-1{
    background: $background-secondary;
  }
  &.card-bk-color-2{
    background: $color-white-plain;
  }
}
