@import 'styles/variables';

.mng-container{
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 40px;
}


.cnt-crd-details {
  background: $background-secondary;
  padding: 30px 20px 20px 40px;
  .crd-header {
    font-size: 2em;
    font-weight: 500;
    color: $font-color-primary;
    margin-bottom: 15px;
  }
  
  .usr-dtl-name {
  }
  
  .crd-contain-main {
    display: flex;
    text-align: center;
  }
}


.relation-list-hdr {
  font-weight: 500;
  font-size: 20px;
  color: $font-color-secondary;
}


