.progress-step-cntr{
  display: flex;
  .step-cntr {
    position: relative;
    display: flex;
    flex: 1;
  }
  .step-cntr:not(:last-child)::before {
    content: ' ';
    border-top: 4px solid white;
    width: auto;
    top: 43%;
    left: 50%;
    right: 0;
    display: block;
    position: absolute;
    z-index: 0;
  }
  .step-cntr.visited:not(:last-child)::before {
    content: ' ';
      border-top: 4px solid #33475b;
  }

  .step-cntr:not(:first-child)::after {
    content: ' ';
    border-top: 4px solid white;
    width: auto;
    top: 43%;
    left: 0;
    right: 50%;
    display: block;
    position: absolute;
    z-index: 0;
  }
  .step-cntr.active:not(:first-child)::after {
    content: ' ';
      border-top: 4px solid #33475b;
  }
  .step-cntr.visited:not(:first-child)::after {
    content: ' ';
      border-top: 4px solid #33475b;
  }

  .progress-step{
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    position: relative;
    margin: auto;
    z-index: 1;

    &.visited {
      background-color: #33475b;
      border: none;
      box-shadow: 0 3px 10px 0 rgba(87, 133, 247, 0.72);
      
    }
    &.active {
      background-color: #ffffff;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
      border: 2px solid #33475b;
    }
  }
  
  
  
}
