$color-shade-1: #00be6e;
$color-shade-1-light: #e0f3eb;
$color-shade-2: #33475b;
$color-shade-3: #e6aa00;
$color-shade-3-light: #f7f1e0;
$color-shade-4: #f05c40;

$color-white-plain : white;

$background-primary: #eaf0f6;
$background-secondary: #f4f7fa;

$font-color-primary: #33475b;
$font-color-secondary: #777777;
$font-color-accent-bright: #fefefe;
$font-color-accent-dark: #2a2a2a;

$header-height: 75px;

$border-shade: #cacfd5;