@import 'styles/variables';
.crd-usr-contact {
  box-shadow: 0 0 8px 1px #e1e7ee;
  border: 2px solid #e1e7ee;
  border-radius: 4px;
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
  .crd-left {
    flex: 1;
    padding: 0 15px;
    background: $color-white-plain;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    .crd-usr-name {
      font-size: 20px;
      font-weight: bold;
    }
    .crd-usr-details {
      i {
        color: $color-shade-1;
      }
      display: flex;
      font-size: 18px;
    }
    .crd-usr-email {
      flex: 2;
    }
    .crd-usr-mob {
      flex: 1;
    }
  }
  .crd-right {
    background: #b2c1d1;
    display: flex;
    flex: 100px 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; // display: flex;
    // align-items: center;
    justify-content: center;
    &.relation {
      background: $color-shade-1;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .crd-usr-relation {
      color: $font-color-accent-bright;
      font-size: 20px;
    }
    .crd-usr-action {
      display: flex;
      align-items: center;
      i {
        font-size: 30px;
      }
    }
  }
  &.selectable {
    cursor: pointer;
    &:hover {
      border: 2px solid $color-shade-1;
      background: $color-shade-1-light;
      .crd-right {
        background: $color-shade-1;
        .crd-usr-action {
          i {
            color: $font-color-accent-bright;
          }
        }
      }
    }
  }
}